<div class=" px-5 px-sm-0">
<div class="container">
<div class="row">
<div class="col-md-3">

<table class="table table-user">

<h1>User info</h1>
<thead>
    <tr>
        <%= image_tag user.get_profile_image(100,100) %>
    </tr>
</thead>
<tbody>
 <tr>
  <th>Name</th>
  <th><%= user.name %></th>
 </tr>
 <tr>
   <th>Introduction</th>
   <th><%= user.introduction %></th>
 </tr>
 <tr>
   <th class="row">
    <% if user.id == current_user.id %>
     <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
     <i class="fas fa-user-cog"></i>
     <% end %>
    <% else %>
     <%= link_to user_path(current_user.id), class: "btn btn-outline-secondary btn-block" do %>
     <i class="fas fa-user-cog"></i>
     <% end %>
    <% end %>
   </th>
 </tr>
  </tbody>
</table>

