<% if @user.errors.any? %>
  <%= @user.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container px-5 px-sm-0">

<h1>User info</h1>
<%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>
<h4>Name</h4>
<%= f.text_field :name %>
<h4>Image</h4>
<%= f.file_field :profile_image, accept: "image/*" %>
<h4>Introduction</h4>
<%= f.text_area :Body %>

<br><%= f.submit 'update user' %></br>

<% end %>
</div>