<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<h1>Books</h1>
<% @books.each do |book| %>

  <%= link_to user_path(book.user_id) do %>
    <%= image_tag book.user.get_profile_image(100,100) %>

  <% end %>
    <%= link_to book.name, book_path(book.id) %>
    <%= book.body %>
<% end %>