<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'users/user', user: @user %>
<%= render 'books/book', book: @book %>




<div class="col-md-8 offset-md-1">


<h1>Book detail</h1>

<table class="table">
 <tr>
   <td>
    <%= link_to user_path(@books.user_id) do %>
    <%= image_tag @books.user.get_profile_image(100,100) %>
    <nav>
    <%= @books.user.name %>
    </nav>
    <% end %>
   </td>


   <td><%= link_to @books.title %></td>
    <td><%= @books.body %></td>
     <% if @books.user == current_user %>
    <td><%= link_to "Edit", edit_book_path(@books.id), class: "btn-sm btn-success" %></td>
    <td><%= link_to "Destroy", book_path(@books.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn-sm btn-danger" %></td>
    <% end %>
 </tr>
</table>


</div>
</div>
</div>
</div>